.title {
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 10px;
}
  .search-input{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  ::ng-deep .highlighted-text{
    background-color: yellow;
  }
  .container{
    display: flex;
  }
  .all{
    width: 50em;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: rgb(238, 240, 240);
  }
  .number{
    margin-bottom:10px;
  }